<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo"><img src="" alt="logo" /></a>
    <div class="header__navigation">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li>
            <a href="#" class="nav__link">Home</a>
          </li>
          <li>
            <a href="#" class="nav__link">About</a>
          </li>
          <li>
            <a href="#" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons">
        <button class="header__btn">Login</button>
        <button class="header__btn">Sign Up</button>
      </div>
    </div>
    <div class="burger">
      <span></span>
    </div>
  </div>
</header>
