<header class="header">
	<div class="header-top">
		<div class="header-top__container container">
			<span class="header-top__text">
				Afterpay, Laybuy & Genoapay | Free Delivery New Zealand + Australia*
			</span>
			<div class="header-top__actions">
				<button class="header-top__auth btn-reset">Sign In / Register</button>
				@include('./currency/currency.html')
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="header-bottom__container container">
			<div class="header__logo">GOOD4MED.</div>

			<div class="mobile-menu">@include('./nav/nav.html')</div>
			@include('./user-actions/user-actions.html')
		</div>
	</div>
</header>
