.currency {
	position: relative;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: var(--white);

	&__toggle {
		display: flex;
		align-items: center;
	}

	&__country-icon {
		width: 24px;
		height: 16px;
		margin-right: 6px;
	}

	&__arrow-icon {
		margin-left: 3px;
		width: 8px;
		height: 4px;
	}
}

.currency-menu {
	position: absolute;
	z-index: 10;
	top: 100%;
	transform: translateY(15px);
	opacity: 0;
	visibility: hidden;
	transition:
		visibility 150ms,
		opacity 150ms,
		transform 150ms;

	&.active {
		transform: translateY(10px);
		opacity: 1;
		visibility: visible;
	}

	background-color: #222;
	padding: 4px;
	border-radius: 5px;

	&__link {
		display: block;
		padding: 5px;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		color: var(--white);
		text-decoration: none;
		border-radius: 3px;

		@include hover {
			background-color: #555353;
		}
	}
}
