<div class="currency">
	<button
		class="currency__toggle btn-reset"
		aria-expanded="false"
		aria-haspopup="true"
		aria-controls="currency-menu"
	>
		<svg class="currency__country-icon">
			<use href="./assets/img/svg/sprite.svg#usa"></use>
		</svg>
		<span>USD</span>
		<svg class="currency__arrow-icon">
			<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
		</svg>
	</button>
	<!-- Dropdown -->
	<ul class="currency-menu list-reset">
		<li>
			<a href="#" class="currency-menu__link">EUR</a>
		</li>
		<li>
			<a href="#" class="currency-menu__link">RUB</a>
		</li>
	</ul>
</div>
