.nav-menu {
	display: flex;
	align-items: center;
	gap: 70px;
	@media screen and (max-width: 1200px) {
		gap: 30px;
	}
	&__link {
		font-family: var(--ff-primary);
		font-weight: 400;
		font-size: 18px;
		line-height: 1.33333;
		color: var(--secondary);
		text-transform: uppercase;

		text-decoration: none;
		&.active {
			color: var(--primary);
			&::before {
				background-color: var(--primary);
			}
		}
	}
}
