<nav>
	<ul class="header__nav-menu nav-menu list-reset">
		<li>
			<a href="#" class="nav-menu__link border-bottom-line active">Home</a>
		</li>
		<li>
			<a href="#" class="nav-menu__link border-bottom-line">Shop</a>
		</li>
		<li>
			<a href="#" class="nav-menu__link border-bottom-line">Faq's</a>
		</li>
		<li>
			<a href="#" class="nav-menu__link border-bottom-line">STOCKISTS</a>
		</li>
		<li>
			<a href="#" class="nav-menu__link border-bottom-line">WHOLESALE</a>
		</li>
		<li>
			<a href="#" class="nav-menu__link border-bottom-line">CONTACT</a>
		</li>
	</ul>
</nav>
